.admin-popupTitleID {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
@media (max-width: 450px){
    .admin-popupTitleID {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding-bottom: 15px;
    }
     .admin-popupTitleID h2 {
        padding: 10px 0 0 0;
     }
     .admin-popupTitleID strong {
        padding: 1px 6px;
     }
}

/* TABLA */

.admin-usuariosTable th {
    color: #fff;
}
.admin-detalleUsuario-dato{
    /* box-shadow: 1px 1px 10px #333; */
    padding: 2px;
    /* border-radius: 5px; */
}
.admin-usuariosTableActions{
    display: flex !important;
    flex-wrap: nowrap;
    gap: 10px;
}
.admin-usuariosTableActions button {
    padding: 10px;
    min-width: 0 !important;
}
@media (max-width: 850px){
    
    .admin-usuariosTable {
        margin-left: 5px !important;
    }
    
    .admin-usuariosTable *{
        font-size: 15px !important;
    }
    
    /* ultima columna (acciones) */
   .admin-usuariosTable-actionButton{
       /* color: #1976D2 !important;
       border: 1px solid #1976D2 !important; */
        padding: 3px !important;
        min-width: auto !important;
        margin-right: 10px !important;
   }
   
   .admin-usuariosTable td, .admin-usuariosTable th  {
       padding-left: 0;
        padding-right: 0;
    }

    .admin-usuariosTable-desktop-col{
        display: none !important;
    }
}
@media( min-width: 850px){
    .admin-usuariosTable-mobile-col {
        display: none !important;
    }
}
@media (min-width: 600px){
    .admin-usuariosTable{
        margin-left: 0 !important;
    }
}





.loading-container{
    text-align: center;
    
    box-shadow: 1px 1px 10px #000;
    border-radius: 25px;

    margin-bottom: 220px;
    padding: 100px;
}


