/* Reset CSS */

/* Box sizing reset */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin/padding */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  /* font-family: system-ui, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove list styles */
ul, ol {
  list-style: none;
  padding: 0;
}

/* Anchor tag reset */
a {
  text-decoration: none;
  color: inherit;
}

/* Image responsiveness */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Form elements inherit fonts */
input, button, textarea, select {
  font: inherit;
}


/* Cartas */
.carta-coleccion {

}
.carta-coleccion:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: 1s all ease-out;
}

.carta-seleccionada{
    border: 5px solid #6A0000 !important;
    /* opacity: 0; */
    transform: scale(1.03) !important;
    transition: none;

    position: relative;
}
.carta-seleccionada::after{
    position: absolute;
    top: 35%;
    right: 30%;
    
    content: "✔️";
    color: #6A0000;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* So it doesn't interfere with clicks */

}




/* FONTS */

.uncial-antiqua-regular, .uncial-antiqua-regular * {
    font-family: "Uncial Antiqua", system-ui !important;
    letter-spacing: 2.5px !important;

    font-weight: 400 !important;
    font-style: normal !important;
}5

.medievalsharp-regular, .medievalsharp-regular * {
  font-family: "MedievalSharp", cursive !important;
  letter-spacing: 3px !important;

  font-weight: 400 !important;
  font-style: normal !important;
}

/* <weight>: Use a value from 400 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.cinzel, .cinzel * {
  font-family: "Cinzel", serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
.cinzel-bold, .cinzel-bold * {
    font-weight: 900;
    
}

/* <weight>: Use a value from 100 to 700
<uniquifier>: Use a unique and descriptive class name */

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}


/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.alumni-sans, .alumni-sans * {
    font-family: "Alumni Sans", sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    letter-spacing: 5px !important;

    font-optical-sizing: auto !important;
    font-style: normal !important;
}
.alumni-sans-bold, .alumni-sans-bold * {
    font-weight: 900 !important;
    letter-spacing: 2px !important;
}

/* <weight>: Use a value from 300 to 700
<uniquifier>: Use a unique and descriptive class name */

.jura, .jura * {
  font-family: "Jura", sans-serif !important;
  font-weight: 700 !important;
  font-size: 16px !important;

  font-optical-sizing: auto !important;
  font-style: normal !important;
}




/* Animations */

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.pulse-animation {
    animation: pulse 1.5s infinite ease-in-out;
}




@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 1s linear infinite;
}



@keyframes intermitent-grow {
  0% {
    transform: scale(1.00);
  }
  50% {
    transform: scale(1.01);
  }
}

.intermitent-grow-animation {
  animation: intermitent-grow 3s ease-out infinite;
}

.grow-pulse-animation {
    animation: 
        pulse 1.5s infinite ease-in-out,
        intermitent-grow 2.3s ease-out infinite;
}


@keyframes mover-background{
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
}
.mover-background {
    background-size: 400% 100% !important;
    animation: mover-background 7s linear infinite !important;
}

@keyframes mover-background-inv{
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
}
.mover-background-inv {
     background-size: 400% 100% !important;
    animation: mover-background-inv 7s linear infinite !important;
}

.background-brillante {
    background-image: linear-gradient(135deg,
      #f9f9f9 0%,
      #e0e0e0 10%,
      #cfcfcf 15%,
      #ffffff 20%,
      #dcdcdc 25%,
      #e0e0e0 40%,
      #f9f9f9 60%,
      #e0e0e0 80%,
      #ffffff 100%
    ) !important;
}